[hyoo_sandbox] {
  display: flex;
  flex-direction: column;
}

[hyoo_sandbox_book] {
  height: auto;
}
[hyoo_sandbox_divider] {
  padding: 0 2px;
  width: 0;
  
  background-color: var(--mol_skin_current);
}
[hyoo_sandbox_input],
[hyoo_sandbox_output] {
  width: 0;
  transition: ease-out;
  /* transition-duration: 0.2s; */
}

[mol_book] > [hyoo_sandbox_input]:not([mol_book_page_visible]) {
  transform: translate3d(200%, 0, 0);
}

[hyoo_sandbox_input] {
  animation: slide-right 0.1s ease-in-out;
}
[hyoo_sandbox_output] {
  animation: slide-left 0.1s ease-in-out;
}

[hyoo_sandbox_output_body] {
  display: flex;
}
[hyoo_sandbox_frame] {
  width: 100%;
}

@keyframes slide-right {
  0% {
    transform: translate3d(200%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
@keyframes slide-left {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
