[hyoo_sandbox_toggle]{
	display: grid;
    grid-template: auto / repeat(3,auto);
	gap: 5px;
	justify-items: center;
	padding: 2vw;
    align-items: center;
}


[hyoo_sandbox_toggle_toggle]{
	padding: 0;
	margin-top: 5px;
	position: relative;
    height: 1em;
    width: calc(100% - 0.6em);
    max-width: 2em;
    top: -2px;
    border-radius: 0.5em;
    -webkit-appearance: none;
    outline: none;
    margin: 0 0.6em 0 0;
}
[hyoo_sandbox_toggle_toggle]::before{
	content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    padding: 2px;
    border-radius: 1em;
    top: 0;
    left: 0;
    background: #676778;
    /* box-sizing: border-box; */
    box-sizing: content-box;
}
[hyoo_sandbox_toggle_toggle]::after{
	content: "";
    position: absolute;
    display: block;
    height: 1em;
    width: 1em;
    top: 2px;
    left: 2px;
    border-radius: 1em;
    background: white;
    box-shadow: 0 0px 1px rgba(0,0,0,.4), 0 4px 2px rgba(0,0,0,.1);
    transition: background .2s ease-out, left .2s ease-out;
}

[hyoo_sandbox_toggle_toggle][mol_check_checked]::before {
    background: red;
}
[hyoo_sandbox_toggle_toggle][mol_check_checked]::after {
    left: calc(100% - 14px);
}
